<h1> Application Name: <%= @application.name %> <h1>
<h2> Application URL: <%=@application.url %> </h2>

<div class= "col-md-4">
    <%= link_to "delete", @application, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this post?'} %>

</div>

<div class= "col-md-4" >
  <% @application.events.group(:name).count.each do |name, count| %>
    <p>Name: <%= name%></p>
    <p> Count: <%= count %> </p>


<% end %>

<%= pie_chart @application.events.group(:name).count %>

<%= line_chart @application.events.group_by_day(:created_at).count %>
</div>
